
@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,700');

.borderLine {
    border-bottom: 1px solid white;
    /* border : 1px solid red; */
}

.sidebarlink {
    transition: all 2s;
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 0.3px !important;
}

.sidebarlink:hover {

    border-radius: 5px;
   
  }