.sidebar {

    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    overflow-y: scroll;


}

.navbarColor {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    height : 45px;

}

.iconBullet {
    color : #f6d365;
}

