.wrapper {
    height: 100vh;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    opacity: 0.2;
    overflow-y: scroll;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
  
}