.loginformWrapper {

    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    height : 100vh;
    width : 100%;
    display: flex; 
    justify-content: center;
    align-items: center;

}